<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <filter>
        <filter-name>Compress</filter-name>
        <filter-class>org.mlink.iwm.http.GZIPFilter</filter-class>
    </filter>


    <filter-mapping>
        <filter-name>Compress</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>dwr-invoker</servlet-name>
        <servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>XmlHttpProxy</servlet-name>
        <servlet-class>com.sun.jmaki.services.XmlHttpProxyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jMaki Controller Servlet</servlet-name>
        <servlet-class>com.sun.jmaki.JmakiController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <!-- Standard Action Servlet Configuration (with debugging) -->
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>3</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PdfServlet</servlet-name>
        <servlet-class>net.sf.jasperreports.j2ee.servlets.PdfServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RtfServlet</servlet-name>
        <servlet-class>net.sf.jasperreports.j2ee.servlets.RtfServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>XlsServlet</servlet-name>
        <servlet-class>net.sf.jasperreports.j2ee.servlets.XlsServlet</servlet-class>
    </servlet>



    <servlet>
        <servlet-name>IWMServlet</servlet-name>
        <servlet-class>org.mlink.iwm.http.IWMServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>DisplayChart</servlet-name>
        <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>XmlHttpProxy</servlet-name>
        <url-pattern>/xhp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jMaki Controller Servlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>



    <!-- Standard Action Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>IWMServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfServlet</servlet-name>
        <url-pattern>/pdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RtfServlet</servlet-name>
        <url-pattern>/rtf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XlsServlet</servlet-name>
        <url-pattern>/xls</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DisplayChart</servlet-name>
        <url-pattern>/servlet/DisplayChart</url-pattern>
    </servlet-mapping>

    <!--session-timeout is in minutes-->
    <session-config>
        <session-timeout>0</session-timeout>
    </session-config>

    <!--mime-mapping>
        <extension>sql</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping-->

    <welcome-file-list>
        <welcome-file>/jsp/welcome.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <!-- access control errors redirection for J2EE authorization checks-->
        <!-- 400 generated when access is defined in struts-config.xml by roles parameter in action-->
        <error-code>400</error-code>
        <location>/Login.do?forward=access_denied</location>
    </error-page>
    <error-page>
        <!-- access control errors redirection for J2EE authorization checks-->
        <!-- 403 generated when access is defined in web.xml-->
        <error-code>403</error-code>
        <location>/Login.do?forward=access_denied</location>
    </error-page>

    <taglib>
        <taglib-uri>struts-bean</taglib-uri>
        <taglib-location>/WEB-INF/taglib/struts-bean.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>struts-html</taglib-uri>
        <taglib-location>/WEB-INF/taglib/struts-html.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>struts-logic</taglib-uri>
        <taglib-location>/WEB-INF/taglib/struts-logic.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>struts-tiles</taglib-uri>
        <taglib-location>/WEB-INF/taglib/struts-tiles.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>jstl-core</taglib-uri>
        <taglib-location>/WEB-INF/taglib/c.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>jstl-sql</taglib-uri>
        <taglib-location>/WEB-INF/taglib/sql.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>jstl-fmt</taglib-uri>
        <taglib-location>/WEB-INF/taglib/fmt.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>struts-bean-el</taglib-uri>
        <taglib-location>/WEB-INF/taglib/struts-bean-el.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>struts-html-el</taglib-uri>
        <taglib-location>/WEB-INF/taglib/struts-html-el.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>struts-logic-el</taglib-uri>
        <taglib-location>/WEB-INF/taglib/struts-logic-el.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>struts-nested</taglib-uri>
        <taglib-location>/WEB-INF/taglib/struts-nested.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>iwm</taglib-uri>
        <taglib-location>/WEB-INF/taglib/utils.tld</taglib-location>
    </taglib>

    <resource-ref>
        <description>Use this datasource with sql:query standard tag</description>
        <res-ref-name>iwm_ds</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Allpages</web-resource-name>
            <url-pattern>*.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Login</web-resource-name>
            <url-pattern>/Login.do</url-pattern>
            <url-pattern>/Logout.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
    </security-constraint>


    <security-constraint>
        <web-resource-collection>
            <web-resource-name>External Request</web-resource-name>
            <url-pattern>/ExternalWorkRequest.do</url-pattern>
            <url-pattern>/SubmitExternalWorkRequest.do</url-pattern>
            <url-pattern>/DefectReport.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>MWSync</web-resource-name>
            <url-pattern>/MWSync.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Locators</web-resource-name>
            <url-pattern>/LocatorList.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>DefLoc</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Organizations</web-resource-name>
            <url-pattern>/OrganizationList.do</url-pattern>
            <url-pattern>/WorkerList.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>DefOrg</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Templates</web-resource-name>
            <url-pattern>/TemplateList.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>DefTemp</role-name>
        </auth-constraint>
    </security-constraint>


    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Objects</web-resource-name>
            <url-pattern>/ObjectList.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ImpObj</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Object Details</web-resource-name>
            <url-pattern>/ObjectDetails.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ImpObj</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Worker Details</web-resource-name>
            <url-pattern>/WorkerDetails.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ConJob</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Object Tasks</web-resource-name>
            <url-pattern>/ObjectTasks.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ObjTsks</role-name>
        </auth-constraint>
    </security-constraint>


    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Project Stencils</web-resource-name>
            <url-pattern>/StencilList.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ImpTS</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Jobs</web-resource-name>
            <url-pattern>/JobList.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ConJob</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Projects</web-resource-name>
            <url-pattern>/ProjectList.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ConProj</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Mobile Worker</web-resource-name>
            <url-pattern>/MWJobs.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ConMW</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Maintenance Request</web-resource-name>
            <url-pattern>/TenantRequestMaint.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ConMR</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>System Administration</web-resource-name>
            <url-pattern>/Admin.do</url-pattern>
            <url-pattern>/MobileWorkerList.do</url-pattern>
            <url-pattern>/ScheduledJobs.do</url-pattern>
            <url-pattern>/AgentTools.do</url-pattern>
            <url-pattern>/SystemPropList.do</url-pattern>
            <url-pattern>/ShiftRefList.do</url-pattern>
            <url-pattern>/MWLocationList.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Reset password</web-resource-name>
            <url-pattern>/blbla.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>RstPass</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Skill Type List</web-resource-name>
            <url-pattern>/SkillTypeList.do</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>WkrSkills</role-name>
        </auth-constraint>
    </security-constraint>

    <!--login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>default</realm-name>
    </login-config-->

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>default</realm-name>
        <form-login-config>
            <form-login-page>/Login.do?forward=login</form-login-page>
            <form-error-page>/Login.do?forward=error</form-error-page>
        </form-login-config>
    </login-config>

    <security-role>
        <description>Allows user to view, create,
            delete and modify organizations and people in the system, including managing Calendars</description>
        <role-name>DefOrg</role-name>
    </security-role>
    <security-role>
        <description>Allows user to view, create,
            delete and modify Skill Definitions</description>
        <role-name>WkrSkills</role-name>
    </security-role>
    <security-role>
        <description>Allows user to view, create, delete and modify locators in the system. </description>
        <role-name>DefLoc</role-name>
    </security-role>
    <security-role>
        <description>Allows user to view, create, delete and modify Object Templates in the system.</description>
        <role-name>DefTemp</role-name>
    </security-role>
    <security-role>
        <description>Allows user to view, create, delete and modify Objects in the system.</description>
        <role-name>ImpObj</role-name>
    </security-role>
    <security-role>
        <description>Allows user to view, create, delete and modify Object Tasks in the system.</description>
        <role-name>ObjTsks</role-name>
    </security-role>
    <security-role>
        <description>Allows user to view, create, delete and modify Task Sequences in the system.</description>
        <role-name>ImpTS</role-name>
    </security-role>
    <security-role>
        <description>Allows user to view, create, delete and modify Jobs in the system.</description>
        <role-name>ConJob</role-name>
    </security-role>
    <security-role>
        <description>Allows user to view, create, delete and modify Projects in the system.</description>
        <role-name>ConProj</role-name>
    </security-role>
    <security-role>
        <description>Allows user to view assigned jobs, and report field feedback in the system.</description>
        <role-name>ConMW</role-name>
    </security-role>
    <security-role>
        <description>Allows user to view and create Maintenance Requests in the system.</description>
        <role-name>ConMR</role-name>
    </security-role>
    <security-role>
        <description>Allows user to view, and assign roles for other system users in the system</description>
        <role-name>AssgnRol</role-name>
    </security-role>
    <security-role>
        <description>Allows user to access system administration pages</description>
        <role-name>Admin</role-name>
    </security-role>
    <security-role>
        <description>Allows user to reset other users passwords.</description>
        <role-name>RstPass</role-name>
    </security-role>

</web-app>